<section class="bg-deep-green text-white py-5 px-4 md:py-8">
  <div class="container mx-auto flex flex-col lg:flex-row lg:items-center gap-8">
    <div
      class="w-full lg:w-1/2 flex flex-col justify-center opacity-0 translate-y-[-50px] lg:translate-x-[-50px] transition-all duration-700"
      data-animate="fade-up"
    >
      <h2 class="text-3xl font-bold mb-4 font-ptSerif text-center lg:text-left break-words">
        CELESTIA ROOFWORKS
      </h2>
      <p class="text-md mb-4 font-hind text-center lg:text-left leading-relaxed break-words">
        Inspiramos nuevos techos en obras de arte. Somos una empresa dedicada a
        ofrecer soluciones de techado premium que combinan innovación, estética
        y funcionalidad. Nuestra misión es proteger y embellecer hogares con
        diseños exclusivos y materiales de la más alta calidad.
      </p>
      <p class="text-md font-hind text-center lg:text-left leading-relaxed break-words">
        Con un equipo de expertos apasionados por la excelencia, trabajamos
        para garantizar que cada proyecto refleje el lujo, la durabilidad y la
        sostenibilidad que nuestros clientes merecen. Desde techos industriales
        hasta residenciales, ofrecemos asesoría personalizada para superar las
        expectativas en cada detalle.
      </p>
    </div>
    <div
      class="w-full lg:w-1/2 flex justify-center mx-auto opacity-0 translate-y-[50px] lg:translate-x-[50px] transition-all duration-700"
      data-animate="fade-up"
    >
      <img
        src="https://pub-c0f5f950f13841e8b14919b84237d411.r2.dev/im4.webp"
        alt="Techo moderno"
        class="w-full max-w-[90%] sm:max-w-sm lg:max-w-full h-auto rounded-lg shadow-lg object-contain"
      />
    </div>
  </div>
</section>
