<div class="relative font-inter antialiased">
    <main class="relative flex flex-col bg-black overflow-hidden">
        <div class="w-full max-w-5xl mx-auto px-4 md:px-6 py-12">
            <div class="text-center mb-4">
                <h2 class="text-2xl font-bold text-white font-ptSerif">
                    LÍDERES EN MARCAS
                </h2>
            </div>
            <div
                x-data="{}"
                x-init="$nextTick(() => {
                    let ul = $refs.logos;
                    ul.insertAdjacentHTML('afterend', ul.outerHTML);
                    ul.nextSibling.setAttribute('aria-hidden', 'true');
                })"
                class=" py-5 w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
            >
                <ul x-ref="logos" class="flex items-center [&_li]:mx-6 animate-infinite-scroll whitespace-nowrap h-8">
                    <li class="text-lg font-semibold text-white font-crimson">GAF Roofing</li>
                    <li class="text-lg font-semibold text-white font-crimson">Decra Roofing Systems</li>
                    <li class="text-lg font-semibold text-white font-crimson">Owens Corning</li>
                    <li class="text-lg font-semibold text-white font-crimson">IKO Industries</li>
                    <li class="text-lg font-semibold text-white font-crimson">CertainTeed</li>                        <li class="text-lg font-semibold text-white font-crimson">Velux Skylights</li>
                        
                    <li class="text-lg font-semibold text-white font-crimson">GAF Roofing</li>
                    <li class="text-lg font-semibold text-white font-crimson">Decra Roofing Systems</li>
                    <li class="text-lg font-semibold text-white font-crimson">Owens Corning</li>
                    <li class="text-lg font-semibold text-white font-crimson">IKO Industries</li>
                    <li class="text-lg font-semibold text-white font-crimson">CertainTeed</li>
                    <li class="text-lg font-semibold text-white font-crimson">Velux Skylights</li>
                </ul>
            </div>
        </div>
    </main>
    <div class="mt-4">
        <img
            src="https://pub-c0f5f950f13841e8b14919b84237d411.r2.dev/marcasbanner.webp"
            alt="Techos industriales"
            class="w-full h-auto rounded-lg shadow-lg"
        />
    </div>
</div>
