---
import ProjectCard from '../../element/ProjectCard.astro';
const projects = [
  {
    image: "https://pub-c0f5f950f13841e8b14919b84237d411.r2.dev/p1.webp",
    title: "Techo de Tejas",
    description:
      "En el corazón de una exclusiva comunidad residencial, transformamos una villa de estilo mediterráneo con un techo de teja de terracota premium. Este proyecto incluyó la instalación de tejas personalizadas con un diseño ondulado, resistentes a todo clima.",
    link: "#proyectos-1",
  },
  {
    image: "https://pub-c0f5f950f13841e8b14919b84237d411.r2.dev/p2.webp",
    title: "Techo Moderno",
    description:
      "Ubicado en una zona residencial, este moderno techo combina resistencia y diseño. Fue construido con paneles térmicos de última tecnología para ofrecer aislamiento superior.",
    link: "#proyectos-2",
  },
  {
    image: "https://pub-c0f5f950f13841e8b14919b84237d411.r2.dev/p3.webp",
    title: "Techo Personalizado",
    description:
      "En este proyecto exclusivo, instalamos un techo de diseño personalizado con un acabado único, combinando funcionalidad y estilo para satisfacer los gustos más exigentes.",
    link: "#proyectos-3",
  },
];
---

<section class="bg-black text-white py-16" id="proyectos" >

  <div class="text-center mb-12">
    <h2 class="text-3xl font-bold tracking-wide font-ptSerif uppercase">Proyectos</h2>
  </div>

  {projects.map((project, index) => (
    <ProjectCard
      image={project.image}
      title={project.title}
      description={project.description}
      link={project.link}
      reverse={index % 2 !== 0}
    />
  ))}
</section>
