---
import ProjectCard from '../../element/ProjectCard.astro';
import projects from '../../data/proyectData.js';
---

<section class="bg-black text-white py-16" id="proyectos" >

  <div class="text-center mb-12">
    <h2 class="text-3xl font-bold tracking-wide font-ptSerif uppercase">Proyectos</h2>
  </div>

  {projects.map((project, index) => (
    <ProjectCard
      image={project.image}
      title={project.title}
      description={project.description}
      link={project.link}
      reverse={index % 2 !== 0}
    />
  ))}
</section>
